:root
{
    --background: #000000;
    --text-color: #ffffff;
    --title-text-color: #000000;
    --nav-color: #FFD915;
    --font-family: 'AtramentWeb', Arial, Helvetica, sans-serif;
    --earth-background-image: url('../images/svg/backgroundearth.svg');
    --background-frame-image: url('../images/svg/bg.svg');
}

.content {
    background-color: var(--background);
}

.content h1 {
    color: var(--text-color);
    text-align: left;
    font-size: 4vw;
    font-family: var(--font-family);
}

.content p {
    color: var(--text-color);
    text-align: left;
    font-size: 2.5vw;
    font-family: var(--font-family);
}

@font-face {
    font-family: 'AtramentWeb';
    src: url(../fonts/AtramentWeb.woff) format('woff');
    font-style: sans-serif;
}