:root {
    --background-color: #000000;
    --text-color-primary: #000000;
    --text-color-secondary: #ffffff;
    --text-color-active: #ffffff;
    --font-primary: 'AtramentWeb', Arial, Helvetica, sans-serif;
    --LCARS-button-primary: #AAADFF;
    --LCARS-button-secondary: #D77C79;
    --backbutton-color: #FFD915;
    --overlay-gradient: linear-gradient(to bottom, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%);
}

.lightmode {
    --background-color: #ffffff;
    --text-color-primary: #000000;
    --text-color-secondary: #000000;
    --text-color-active: #000000;
    --font-primary: 'AtramentWeb', Arial, Helvetica, sans-serif;
    --LCARS-button-primary: #AAADFF;
    --LCARS-button-secondary: #D77C79;
    --backbutton-color: #FFD915;
    --overlay-gradient: linear-gradient(to bottom, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
}

body {
    font-family: var(--font-primary);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
    font-size: 1.5rem;
}
/* change to grid instead? */
.container {
    display: flex;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: var(--overlay-gradient);
    pointer-events: none; 
}

.left-column {
    flex: 1;
}

.main {
    flex: 5;
}

.right-column {
    flex: 2;
}

.infoboard {
    margin: 20px;
    padding: 20px;
    border: #000000 5px solid;
    border-radius: 20px;
    position: fixed;
}

.learningoutcomes {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    margin: 20px;
    border: #000000 5px solid;
    border-radius: 20px;
    padding: 20px;
}

.outcomesbutton {
    background-color: var(--LCARS-button-primary);
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 50px;
    z-index: 9999;
    margin: 10px;
    cursor: pointer;
}

.viewbutton {
    background-color: var(--backbutton-color);
    padding: 20px 20px;
    border-radius: 10px;
    z-index: 9999;
    margin: 10px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 10px;
    transform: translateY(-50%);
    background-image: url('expand.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.shrinkbutton {
    background-color: var(--backbutton-color);
    padding: 20px 20px;
    border-radius: 10px;
    z-index: 9999;
    margin: 10px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 10px;
    transform: translateY(-50%);
    background-image: url('shrink.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.shrinkbutton:hover {
    background-color: #fff0a3;
}

.viewbutton:hover {
    background-color: #fff0a3;
}

.toggledarkmode {
    background-color: var(--backbutton-color);
    padding: 20px 20px;
    border-radius: 10px;
    z-index: 9999;
    margin: 10px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 60px;
    transform: translateY(-50%);
    background-image: url('sun.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.toggledarkmode:hover {
    background-color: #fff0a3;
}

body.lightmode .toggledarkmode {
    background-image: url('moon.png');
}

.outcomesbutton:hover {
    background-color: var(--LCARS-button-secondary);
}

/* interactive media products */
.outcomesbutton.inte {
    background-color: #D77C79;
}

.outcomesbutton.inte:hover {
    background-color: #ff9e9e;
}

/* development and version control */
.outcomesbutton.deve {
    background-color: #AAADFF;
}

.outcomesbutton.deve:hover {
    background-color: #d1d1ff;
}

/* iterative design */
.outcomesbutton.iter {
    background-color: #50ef5a;
}

.outcomesbutton.iter:hover {
    background-color: #7cf57c;
}
/* professional standard */
.outcomesbutton.prof {
    background-color: #f0d84b;
}

.outcomesbutton.prof:hover {
    background-color: #f5e77c;
}
/* personal leadership */
.outcomesbutton.lead {
    background-color: #fa99e1;
}

.imagebox {
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}

.imagefile {
    width: 10%;
    height: auto;
    border-radius: 20px;
}

.project img {
    cursor: pointer;
    border-radius: 20px;
}

.project img:hover {
    box-shadow: 0 0 10px 5px #ffffff;
}

.howtoimage {
    width: 50%;
    border-radius: 20px;
    border: var(--backbutton-color) 5px solid;
}

p a {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #ffffff;
}

p a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #ffffff;
}


@font-face {
    font-family: 'AtramentWeb';
    src: url(../fonts/AtramentWeb.woff) format('woff');
    font-style: sans-serif;
}